@import url(typography.css);
@import url(nav-bar.css);

body {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 350px 50px;
    grid-template-areas:
      "hd"
      "main"
      "sd"
      "ft";
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
    padding: 20px;
    display: inline-block;
    overflow-x: auto;
}

aside {
    grid-area: sd;
}

footer {
    grid-area: ft;
    margin-bottom: 30px;
}

.logo {
    height: 50px;
}

figure {
    margin: auto;
}

.post-image {
    max-width: 300px;
}

.attribution {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
}

.attribution-link * {
    color: black;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.author-info {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

.icon {
    width: 10%;
}

/* Tablet screens */
@media (min-width: 601px) and (max-width:900px) {
    .author-info {
        width: 350px;
    }

    .post-image {
        max-width: 550px;
    }
}

/* Desktop screens */
@media (min-width: 901px) {
    body {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 70px 4fr 100px;
        grid-template-areas:
          "hd hd hd hd hd hd hd hd"
          "main main main main main sd sd sd"
          "ft ft ft ft ft sd sd sd";
    }

    .author-info {
        margin: 70px 20px 20px;
        height: 400px;
    }

    .blog-post {
        margin: 0 50px;
    }

    .icon {
        width: 5%;
    }

    .post-image {
        max-width: 700px;
        width: 100%;
        object-fit: cover;
    }

    figure {
        margin-bottom: 50px;
    }
}