@import url(typography.css);
@import url(nav-bar.css);

/*TODO: make mobile responsive*/

body {
    margin: 0;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 350px 50px;
    grid-template-areas:
          "hd"
          "main"
          "sd"
          "ft";
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
}

aside {
    grid-area: sd;
}

footer {
    grid-area: ft;
}

.logo {
    height: 50px;
}

.post-image {
    max-width: 300px;
}

.attribution {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.author-info {
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
}

/* Tablet screens */
@media (min-width: 601px) and (max-width:900px) {

}

/* Desktop screens */
@media (min-width: 901px) {

}