body {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px 300px 6fr 1fr;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "wc wc wc wc wc wc wc wc"
      "main main main main sd sd sd sd"
      "ft ft ft ft ft ft ft ft";
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
    max-width: 960px;
    margin: 50px 50px;
    padding: 20px;
    text-align: center;
}

footer {
    grid-area: ft;
}

aside {
    grid-area: sd;
    margin-top: 50px;
}

.welcome-section {
    grid-area: wc;
    background: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
}

.welcome-image {
    height: 200px;
}

.cta-button {
    color: white;
    background: black;
    font-family: Verdana, sans-serif;
    border-radius: 99em;
    font-size: 16px;
    padding: 10px 40px;
}

.cta-button:hover {
    background: #232323;
}

.logo {
    height: 50px;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    border-top: 1px solid #eaeaea;
    padding: 20px;
}

button {
    background-color: transparent;
    border: none;
    color: #c4c4c4;
    font-size: 30px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: flex-end;
}

.post-image {
    height: 120px;
    padding: 20px 20px;
}

div a {
    color: inherit;
    text-decoration: none;
}