body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 70px 300px 6fr 1fr;
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "wc wc wc wc wc wc wc wc"
      "main main main main sd sd sd sd"
      "ft ft ft ft ft ft ft ft";
}

header {
    grid-area: hd;
}

main {
    grid-area: main;
    max-width: 960px;
    margin: 50px 50px;
    padding: 20px;
    text-align: center;
}

footer {
    grid-area: ft;
    display: flex;
    justify-content: center;
}

aside {
    grid-area: sd;
    margin-top: 50px;
}

.welcome-section {
    grid-area: wc;
    background: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 50px;
}

.welcome-section-text {
    padding: 5px;
}

.welcome-image {
    height: 200px;
}

.cta-button {
    color: white;
    background: black;
    font-family: "Verdana", sans-serif;
    border-radius: 99em;
    font-size: 16px;
    padding: 10px 40px;
}

.cta-button:hover {
    background: #232323;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.post {
    display: flex;
    margin-bottom: 20px;
    text-align: left;
    border-top: 1px solid #eaeaea;
    padding: 20px;
}

button {
    background-color: transparent;
    border: none;
    color: #c4c4c4;
    font-size: 30px;
    cursor: pointer;
}

.button-container {
    display: flex;
    align-items: flex-end;
}

.post-image {
    height: 120px;
    padding: 20px 20px;
}

div a {
    color: inherit;
    text-decoration: none;
}

.topics-list {
    font-family: "Courier", sans-serif;
    color: #3a3a3a;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
    margin-right: 50px;
}

.topics-list li {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
}

/* Mobile screens */
@media(max-width: 600px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr 650px 300px 50px;
        grid-template-areas:
          "hd"
          "wc"
          "main"
          "sd"
          "ft";
    }

    main {
        margin: 0;
        padding: 0;
    }

    .welcome-section {
        flex-direction: column;
        padding: 0 50px;
    }

    .welcome-image {
        margin: 50px 0;
        max-height: 150px;
    }

    aside {
        margin: 0 20px;
    }

    .post {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .post-image {
        height: 76px;
        width: 114px;
        padding: 10px;
    }

    .post a p {
        max-width: 300px;
    }
}

/* Tablet screens */
@media (min-width: 601px) and (max-width: 900px) {
    main {
        margin: 0;
    }

    .topics-list {
        font-size: 12px;
    }

    .welcome-section {
        padding-bottom: 50px;
    }

    .post {
        flex-direction: column;
    }

    .post-image {
        max-width: 200px;
    }
}